@import '@tabler/core/dist/css/tabler.css';
@import '@tabler/core/dist/css/tabler-vendors.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root,
[data-bs-theme='light'] {
  --tblr-blue: #066fd1;
  --tblr-indigo: #4263eb;
  --tblr-purple: #ae3ec9;
  --tblr-pink: #d6336c;
  --tblr-red: #d63939;
  --tblr-orange: #f76707;
  --tblr-yellow: #f59f00;
  --tblr-green: #2fb344;
  --tblr-teal: #0ca678;
  --tblr-cyan: #17a2b8;
  --tblr-black: #000000;
  --tblr-white: #ffffff;
  --tblr-gray: #4b5563;
  --tblr-gray-dark: #1f2937;
  --tblr-gray-100: #f3f4f6;
  --tblr-gray-200: #e5e7eb;
  --tblr-gray-300: #d1d5db;
  --tblr-gray-400: #9ca3af;
  --tblr-gray-500: #6b7280;
  --tblr-gray-600: #4b5563;
  --tblr-gray-700: #374151;
  --tblr-gray-800: #1f2937;
  --tblr-gray-900: #111827;
  --tblr-primary: #066fd1;
  --tblr-secondary: #6b7280;
  --tblr-success: #2fb344;
  --tblr-info: #4299e1;
  --tblr-warning: #f59f00;
  --tblr-danger: #d63939;
  --tblr-light: #f9fafb;
  --tblr-dark: #1f2937;
  --tblr-muted: #6b7280;
  --tblr-blue: #066fd1;
  --tblr-azure: #4299e1;
  --tblr-indigo: #4263eb;
  --tblr-purple: #ae3ec9;
  --tblr-pink: #d6336c;
  --tblr-red: #d63939;
  --tblr-orange: #f76707;
  --tblr-yellow: #f59f00;
  --tblr-lime: #74b816;
  --tblr-green: #2fb344;
  --tblr-teal: #0ca678;
  --tblr-cyan: #17a2b8;
  --tblr-primary-rgb: 6, 111, 209;
  --tblr-secondary-rgb: 107, 114, 128;
  --tblr-success-rgb: 47, 179, 68;
  --tblr-info-rgb: 66, 153, 225;
  --tblr-warning-rgb: 245, 159, 0;
  --tblr-danger-rgb: 214, 57, 57;
  --tblr-light-rgb: 249, 250, 251;
  --tblr-dark-rgb: 31, 41, 55;
  --tblr-muted-rgb: 107, 114, 128;
  --tblr-blue-rgb: 6, 111, 209;
  --tblr-azure-rgb: 66, 153, 225;
  --tblr-indigo-rgb: 66, 99, 235;
  --tblr-purple-rgb: 174, 62, 201;
  --tblr-pink-rgb: 214, 51, 108;
  --tblr-red-rgb: 214, 57, 57;
  --tblr-orange-rgb: 247, 103, 7;
  --tblr-yellow-rgb: 245, 159, 0;
  --tblr-lime-rgb: 116, 184, 22;
  --tblr-green-rgb: 47, 179, 68;
  --tblr-teal-rgb: 12, 166, 120;
  --tblr-cyan-rgb: 23, 162, 184;
  --tblr-primary-text-emphasis: rgb(2.4, 44.4, 83.6);
  --tblr-secondary-text-emphasis: rgb(42.8, 45.6, 51.2);
  --tblr-success-text-emphasis: rgb(18.8, 71.6, 27.2);
  --tblr-info-text-emphasis: rgb(26.4, 61.2, 90);
  --tblr-warning-text-emphasis: rgb(98, 63.6, 0);
  --tblr-danger-text-emphasis: rgb(85.6, 22.8, 22.8);
  --tblr-light-text-emphasis: #374151;
  --tblr-dark-text-emphasis: #374151;
  --tblr-primary-bg-subtle: rgb(205.2, 226.2, 245.8);
  --tblr-secondary-bg-subtle: rgb(225.4, 226.8, 229.6);
  --tblr-success-bg-subtle: rgb(213.4, 239.8, 217.6);
  --tblr-info-bg-subtle: rgb(217.2, 234.6, 249);
  --tblr-warning-bg-subtle: rgb(253, 235.8, 204);
  --tblr-danger-bg-subtle: rgb(246.8, 215.4, 215.4);
  --tblr-light-bg-subtle: rgb(249, 249.5, 250.5);
  --tblr-dark-bg-subtle: #9ca3af;
  --tblr-primary-border-subtle: rgb(155.4, 197.4, 236.6);
  --tblr-secondary-border-subtle: rgb(195.8, 198.6, 204.2);
  --tblr-success-border-subtle: rgb(171.8, 224.6, 180.2);
  --tblr-info-border-subtle: rgb(179.4, 214.2, 243);
  --tblr-warning-border-subtle: rgb(251, 216.6, 153);
  --tblr-danger-border-subtle: rgb(238.6, 175.8, 175.8);
  --tblr-light-border-subtle: #e5e7eb;
  --tblr-dark-border-subtle: #6b7280;
  --tblr-white-rgb: 255, 255, 255;
  --tblr-black-rgb: 0, 0, 0;
  --tblr-font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  --tblr-font-monospace: Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --tblr-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --tblr-body-font-family: var(--tblr-font-sans-serif);
  --tblr-body-font-size: 0.875rem;
  --tblr-body-font-weight: 400;
  --tblr-body-line-height: 1.4285714286;
  --tblr-body-color: #1f2937;
  --tblr-body-color-rgb: 31, 41, 55;
  --tblr-body-bg: #f9fafb;
  --tblr-body-bg-rgb: 249, 250, 251;
  --tblr-emphasis-color: #374151;
  --tblr-emphasis-color-rgb: 55, 65, 81;
  --tblr-secondary-color: rgba(31, 41, 55, 0.75);
  --tblr-secondary-color-rgb: 31, 41, 55;
  --tblr-secondary-bg: #e5e7eb;
  --tblr-secondary-bg-rgb: 229, 231, 235;
  --tblr-tertiary-color: rgba(31, 41, 55, 0.5);
  --tblr-tertiary-color-rgb: 31, 41, 55;
  --tblr-tertiary-bg: #f3f4f6;
  --tblr-tertiary-bg-rgb: 243, 244, 246;
  --tblr-heading-color: inherit;
  --tblr-link-color: #066fd1;
  --tblr-link-color-rgb: 6, 111, 209;
  --tblr-link-decoration: none;
  --tblr-link-hover-color: rgb(4.8, 88.8, 167.2);
  --tblr-link-hover-color-rgb: 5, 89, 167;
  --tblr-link-hover-decoration: underline;
  --tblr-code-color: light-dark(var(--tblr-gray-600), var(--tblr-gray-400));
  --tblr-highlight-color: #1f2937;
  --tblr-highlight-bg: rgb(253, 235.8, 204);
  --tblr-border-width: 1px;
  --tblr-border-style: solid;
  --tblr-border-color: #e5e7eb;
  --tblr-border-color-translucent: rgba(4, 32, 69, 0.1);
  --tblr-border-radius: 6px;
  --tblr-border-radius-sm: 4px;
  --tblr-border-radius-lg: 8px;
  --tblr-border-radius-xl: 1rem;
  --tblr-border-radius-xxl: 2rem;
  --tblr-border-radius-2xl: var(--tblr-border-radius-xxl);
  --tblr-border-radius-pill: 100rem;
  --tblr-box-shadow: rgba(var(--tblr-body-color-rgb), 0.04) 0 2px 4px 0;
  --tblr-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --tblr-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --tblr-box-shadow-inset: 0 0 transparent;
  --tblr-focus-ring-width: 0.25rem;
  --tblr-focus-ring-opacity: 0.25;
  --tblr-focus-ring-color: rgba(var(--tblr-primary-rgb), 0.25);
  --tblr-form-valid-color: #2fb344;
  --tblr-form-valid-border-color: #2fb344;
  --tblr-form-invalid-color: #d63939;
  --tblr-form-invalid-border-color: #d63939;
}

[data-bs-theme='dark'],
body[data-bs-theme='dark'] [data-bs-theme='light'] {
  color-scheme: dark;
  --tblr-body-color: #e5e7eb;
  --tblr-body-color-rgb: 229, 231, 235;
  --tblr-body-bg: #111827;
  --tblr-body-bg-rgb: 17, 24, 39;
  --tblr-emphasis-color: #ffffff;
  --tblr-emphasis-color-rgb: 255, 255, 255;
  --tblr-secondary-color: rgba(229, 231, 235, 0.75);
  --tblr-secondary-color-rgb: 229, 231, 235;
  --tblr-secondary-bg: #1f2937;
  --tblr-secondary-bg-rgb: 31, 41, 55;
  --tblr-tertiary-color: rgba(229, 231, 235, 0.5);
  --tblr-tertiary-color-rgb: 229, 231, 235;
  --tblr-tertiary-bg: rgb(24, 32.5, 47);
  --tblr-tertiary-bg-rgb: 24, 33, 47;
  --tblr-primary-text-emphasis: rgb(105.6, 168.6, 227.4);
  --tblr-secondary-text-emphasis: rgb(166.2, 170.4, 178.8);
  --tblr-success-text-emphasis: rgb(130.2, 209.4, 142.8);
  --tblr-info-text-emphasis: rgb(141.6, 193.8, 237);
  --tblr-warning-text-emphasis: rgb(249, 197.4, 102);
  --tblr-danger-text-emphasis: rgb(230.4, 136.2, 136.2);
  --tblr-light-text-emphasis: #f3f4f6;
  --tblr-dark-text-emphasis: #d1d5db;
  --tblr-primary-bg-subtle: rgb(1.2, 22.2, 41.8);
  --tblr-secondary-bg-subtle: rgb(21.4, 22.8, 25.6);
  --tblr-success-bg-subtle: rgb(9.4, 35.8, 13.6);
  --tblr-info-bg-subtle: rgb(13.2, 30.6, 45);
  --tblr-warning-bg-subtle: rgb(49, 31.8, 0);
  --tblr-danger-bg-subtle: rgb(42.8, 11.4, 11.4);
  --tblr-light-bg-subtle: #1f2937;
  --tblr-dark-bg-subtle: rgb(15.5, 20.5, 27.5);
  --tblr-primary-border-subtle: rgb(3.6, 66.6, 125.4);
  --tblr-secondary-border-subtle: rgb(64.2, 68.4, 76.8);
  --tblr-success-border-subtle: rgb(28.2, 107.4, 40.8);
  --tblr-info-border-subtle: rgb(39.6, 91.8, 135);
  --tblr-warning-border-subtle: rgb(147, 95.4, 0);
  --tblr-danger-border-subtle: rgb(128.4, 34.2, 34.2);
  --tblr-light-border-subtle: #374151;
  --tblr-dark-border-subtle: #1f2937;
  --tblr-heading-color: inherit;
  --tblr-link-color: rgb(105.6, 168.6, 227.4);
  --tblr-link-hover-color: rgb(135.48, 185.88, 232.92);
  --tblr-link-color-rgb: 106, 169, 227;
  --tblr-link-hover-color-rgb: 135, 186, 233;
  --tblr-code-color: var(--tblr-gray-300);
  --tblr-highlight-color: #e5e7eb;
  --tblr-highlight-bg: rgb(98, 63.6, 0);
  --tblr-border-color: rgb(45.7069767442, 60.4511627907, 81.0930232558);
  --tblr-border-color-translucent: rgba(72, 110, 149, 0.14);
  --tblr-form-valid-color: rgb(130.2, 209.4, 142.8);
  --tblr-form-valid-border-color: rgb(130.2, 209.4, 142.8);
  --tblr-form-invalid-color: rgb(230.4, 136.2, 136.2);
  --tblr-form-invalid-border-color: rgb(230.4, 136.2, 136.2);
}
